body{
/* background-color: rgba(21, 216, 66, 0.858); */
background-image: url(https://www.shutterstock.com/image-photo/colourful-smoke-4k-wall-paper-600nw-1531304273.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.container{
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.352);
    margin-left: 219px;
    border-radius: 10px;
    margin-top: 152px;
    border-radius: 5px;
box-shadow: 2px 1px 10px;
/* flex-direction: column; */



}
.login{
    margin-top: 50px;
    /* margin-left: 136px; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    /* color: black; */
}
form input{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 1px;
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 10px;

}
.Forgot {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 15px;
    color: black;
    /* margin-top: 20px; */
    margin-bottom: 50px;
    font-weight: bolder;
}
.chek{
    margin-left: 25px;
    margin-top: -37px;
    font-size: 15px;
    color: black;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    font-weight: bolder;
}
.Login button {
    width: 300px;
    height: 40px;
    background-color: green;
    color: black;
    border: 1px solid green;
    border-radius: 1px;
    margin-left: 25px;
    /* margin-top: 15px; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.p a{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bolder;
}
.p{
    margin-left: 25px;
}
.main{
    width: 350px;
    height: 450px;
    background-color:  rgba(255, 255, 255, 0.352);
    border-radius: 5px;
    box-shadow: 2px 1px 10px;
    margin-left: 650px;
    margin-top: -501px;

    

}.Signup{
    margin-top: 50px;
    /* margin-left: 136px; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;}
    .up button{
        width: 300px;
    height: 40px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 1px;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    }
    .a a{
        margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bolder;
    }
    .a{
        margin-left: 25px;
    }
    .up button:hover{
        background-color: rgb(170, 19, 157);
        color: rgb(0, 0, 0);
        border: 5px solid rgb(255, 255, 255);
    }
    .Login button:hover{
        background-color:  rgb(170, 19, 157);
        color: rgb(0, 0, 0);
        border: 5px solid  white;
    }
    .a a:hover{
        color: white;
        font-weight: bolder;
        font-size: 15px;
    }
    .p a:hover {
        color: rgb(170, 19, 157);
        font-weight: bolder;
    }
    .Forgot:hover{
        
        color: white;
        font-weight: bolder;
    }
    .Login{
        color: black;
    }
    /* @media only screen and (max-width: 600px){
        .main{
            
            
            /* display: block; */
            /* display: inline-table; */
            /* flex-direction: column; */
            /* margin-right: 650px; */
            /* margin-top: 501px; */
            /* background-color: rgba(127, 255, 212, 0.425); */
            /* display: flex; */
        /* } */
    /* } */
    /* @media only screen and(max-width:600px){ */
        /* .container{ */
            /* justify-content: center; */
            /* align-items: center; */
            /* display: flex; */
        /* } */
    /* } */ 